<p>this is view3</p>

    <form>

    <table  border=1>

        <tr>
            <th>id</th>
            <th>Publish year</th>
            <th>name</th>
            <th>author</th>
        </tr>
        <tr ng-repeat="x in message" >
            <td>{{x.id}}</td>
            <td>{{x.publishyear}}</td>
            <td>{{x.name}}</td>
            <td>{{x.author}}</td>
            <td><a href="" class="btn btn-primary" ng-click="delete(x.id)">delete</a></td>
            <td><a href="" class="btn btn-primary" ng-click="update(x.id)">update</a></td>
        </tr>


    </table>
    </br>
    

</form>
